body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Caprasimo", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tilt Neon", cursive;
  background: rgb(226, 62, 62);
  background: linear-gradient(
    90deg,
    rgba(226, 62, 62, 1) 3%,
    rgba(177, 13, 16, 0.9864320728291317) 23%
  );
}
